.searchContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%; /* Adjust the width of the search container */
    max-width: 600px;
    background-color: rgba(
        255,
        255,
        255,
        0.9
    ); /* White background for contrast */
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

.searchContainer input {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 8px 0 0 8px; /* Round only the left side */
    outline: none; /* Removes the default browser outline */
}

.searchContainer button {
    border-radius: 0 0.6rem 0.6rem 0; /* Round only the right side */
}

.searchContainer input::placeholder {
    color: #aaa; /* Lighter color for placeholder text */
    font-style: italic; /* Optional: make it look a bit stylized */
}

.searchResults {
    position: absolute;
    top: 3.9rem;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 12rem;
    overflow-y: auto;
    z-index: 1000;
    margin-top: 0; /* Remove margin to avoid extra spacing */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.searchResultItem {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
    color: #333;
}

.searchResultItem:hover {
    background-color: #f0f0f0;
}

.noResults {
    padding: 10px;
    color: #888;
    font-style: italic;
}

/* MEDIA QUERIES MOBILE */
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .searchContainer {
        width: 100%;
    }
}
