.container {
    margin: 5rem;
}

.heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
    color: #333;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
    row-gap: 5rem;
    justify-items: center;
}

.loadMore {
    display: block;
    margin: 20px auto;
}

@media only screen and (min-width: 768px) and (max-width: 1180px) {
    .grid {
        grid-template-columns: repeat(
            2,
            1fr
        ); /* 2 cards per row for smaller screens */
    }
}

@media only screen and (min-width: 0px) and (max-width: 845px) {
    .grid {
        grid-template-columns: 1fr; /* 1 card per row for very small screens */
    }
    .container {
        margin: auto;
    }
    .grid {
        row-gap: 2rem;
    }
}
