body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Montserrat", sans-serif,
        "Helvetica Neue";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: "Montserrat", sans-serif;
}
