.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../../assets/images/backgrounds/registerBackground.jpg")
        no-repeat center center / cover;
}

.formWrapper {
    background: rgba(255, 255, 255, 0.85);
    padding: 40px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.heading1,
.heading2 {
    font-size: 1.8rem;
    color: #3e8e65;
    text-align: center;
}

.heading1 {
    margin: 0;
}

.heading2 {
    margin: 0.5rem 0 2rem 0;
}

.inputGroup {
    margin-bottom: 15px;
}

.label {
    display: block;
    margin-bottom: 5px;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.checkboxGroup {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkboxLabel {
    margin-left: 5px;
    font-size: 0.9rem;
}

.checkbox {
    margin-right: 8px;
}

.error {
    color: red;
    margin-bottom: 15px;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #3e8e65;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.link {
    margin-top: 15px;
    text-align: center;
}

.linkText {
    color: #3e8e65;
    text-decoration: none;
}
