.petSection {
    padding: 20px 6.5%;
    background-color: #f9f9f9;
    text-align: center;
}

.sectionTitle {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 cards in a row */
    gap: 20px;
    justify-content: center;
    align-items: start;
}
