.petSection {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sectionTitle {
    font-size: 2rem; /* Default font size */
    margin-bottom: 20px;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(200px, 1fr)
    ); /* Responsive grid */
    gap: 20px; /* Space between cards */
    width: 100%; /* Ensure container spans the full width */
    justify-items: center;
}

/* MEDIA QUERIES MOBILE */
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .sectionTitle {
        font-size: 1.5rem; /* Smaller font size for smaller screens */
    }

    .cardsContainer {
        grid-template-columns: 1fr; /* Single column layout */
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .sectionTitle {
        font-size: 1.2rem; /* Adjust font size further for very small screens */
    }

    .cardsContainer {
        gap: 10px; /* Less space between cards */
    }
}
