.searchBar {
    background-image: url("../../../assets/images/hero/hero-image.jpg");
    background-size: cover;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.searchContainer {
    margin-top: 20px;
}

.searchContainer input {
    padding: 10px;
    font-size: 16px;
}

.searchContainer button {
    background-color: #ffaf6d;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
