footer {
    color: #333;
    background-color: #f0ebe7;
}

.footerWhole {
    padding: 3% 6.5%;
}

.footerNav {
    display: flex;
    justify-content: space-between;
}

.section {
    text-align: left;
}

.section p {
    margin: 0 0 10px 0;
    font-weight: 700;
}

.section a {
    display: block;
    color: #333;
    text-decoration: none;
    margin-bottom: 5px;
}

.copyright p {
    margin: 1rem 0 0 0;
}

.line {
    width: 100%;
    height: 0.1rem;
    background-color: #d7d0cc;
    margin: 20px 0;
}

/* MEDIA QUERIES MOBILE */
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .footer {
        padding: 7%;
    }
}
