.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("../../assets/images/backgrounds/loginBackground.jpg")
        no-repeat center center / cover;
}

.form {
    background: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.heading {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #ff6600;
    text-align: center;
}

.inputGroup {
    margin-bottom: 15px;
}

.label {
    font-size: 1rem;
    margin-bottom: 5px;
    display: block;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ff6600;
    border-radius: 5px;
    box-sizing: border-box;
}

.button {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background: #ff6600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.error {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 10px;
    text-align: center;
}

.link {
    text-align: center;
    margin-top: 10px;
}

.linkText {
    color: #ff6600;
    text-decoration: none;
}
