.profileMenuContainer {
    position: relative;
    display: inline-block;
}

.userIcon {
    font-size: 1.4rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.loggedIn {
    color: #3e8e65; /* Color for logged-in users */
}

.loggedOut {
    color: #333; /* Color for logged-out users */
}

.dropdown {
    position: absolute;
    top: 1.1rem;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2rem 1rem;
    list-style: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 8rem;
}

.dropdown li {
    margin: 5px 0;
}

.dropdown li a,
.dropdown li button {
    text-decoration: none;
    color: #333;
    background: none;
    border: none;
    margin-bottom: 2rem;
    cursor: pointer;
}

.dropdown li a:hover,
.dropdown li button:hover {
    color: #3e8e65;
}

.dropdown li button {
    margin-top: 1rem;
}
