.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6.5%;
}

.logo {
    width: 16rem;
}

.logoImage {
    max-height: 4rem;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin-right: 1rem;
}

.headerNav {
    width: 16rem;
    display: flex;
    justify-content: flex-end;
    align-self: self-end;
    padding-bottom: 0.7rem;
}

.user {
    font-size: 1.5rem;
    color: #3e8e65;
}

/* MEDIA QUERIES MOBILE & IPAD */
@media only screen and (min-width: 0px) and (max-width: 1180px) {
    /* Hide navigation and login button container on smaller screens */
}
