.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
}

.logo {
    width: 16rem;
}

.logoImage {
    max-height: 4rem;
}

.nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 25px;
    height: 20px;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 2.5px;
    background-color: #333;
    margin: 2px 0;
    transition: 0.4s;
    border-radius: 1.5px;
}

/* Styling for the bars when the menu is open */
.bar1 {
    transform: rotate(45deg) translate(5px, 5px);
}

.bar2 {
    opacity: 0; /* Hides the middle bar */
}

.bar3 {
    transform: rotate(-45deg) translate(5px, -5px);
}

.nav {
    display: flex;
    align-self: self-end;
    padding-bottom: 0.7rem;
}

.headerRight {
    width: 16rem;
    display: flex;
    justify-content: flex-end;
    align-self: self-end;
    padding-bottom: 0.7rem;
}

.user {
    font-size: 1.5rem;
    color: #f77f00;
}

/* MEDIA QUERIES MOBILE & IPAD */
@media only screen and (min-width: 0px) and (max-width: 1180px) {
    /* Hide navigation and login button container on smaller screens */
    .nav {
        display: none;
    }

    /* Show the hamburger menu icon */
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 24px;
        margin-left: 0.5rem;
        align-self: center;
    }

    /* Open the navigation menu and display login button inside the menu */
    .open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
    }

    /* Style the nav links inside the open menu */
    .open a {
        padding: 10px 0;
        text-align: right;
        color: white;
        text-decoration: none;
    }
}
